<component name="ArtifactManager">
  <artifact type="war" name="springmvc-framework:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-mvc-framework-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc-framework:war exploded" />
    </root>
  </artifact>
</component>